#!/usr/bin/make -f
#export DH_VERBOSE=1
tmp := $(CURDIR)/debian/libapache2-mod-auth-radius

%:
	dh $@

patch:
#	if [ ! -f patch-stamp ]; then \
#	 patch -p1 < debian/patches/something.diff && \
#	 touch patch-stamp; \
#	fi

unpatch:
#	if [ -f patch-stamp ]; then \
#	 patch -Rp1 < debian/patches/something.diff && \
#	 rm -f patch-stamp; \
#	fi

override_dh_auto_install:
	#dh_testdir
	#dh_testroot
	#dh_prep
	#dh_installdirs
	# NFC why I need to do this.
	mkdir -p $(tmp)/usr/lib/apache2/modules $(tmp)/etc/apache2/mods-available
	cp -a debian/auth_radius.load $(tmp)/etc/apache2/mods-available/authnz_radius.load
	install -p -m 644 .libs/mod_auth_radius.so $(tmp)/usr/lib/apache2/modules/mod_authnz_radius.so


